@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.btn {
  cursor: pointer;
  display: block;
  padding: 1rem;
  color: #fff;
  border: transparent;
  border-radius: 1.2rem;
  font-size: inherit;
  font-family: inherit;
  transition: transform 100ms ease;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: translateY(2px);
}

.btn--green {
  background: #3db46d;
  color: #fff;
}

.btn--red {
  background: #eb5757;
  color: #fff;
}

.btn--cancel {
  background: transparent;
  box-shadow: none;
  color: #bdbdbd;
}

.btn--red--outline {
  background: transparent;
  color: #eb5757;
  border: 1px solid #eb5757;
}

.btn--sign-out {
  background: transparent;
  box-shadow: none;
  color: #4f4f4f;
}

.btn--sign-out:hover {
  transform: none;
}

.form-control {
  padding-bottom: 2.2rem;
  margin-bottom: 1rem;
  position: relative;
}

.form-control .form-label {
  display: block;
  margin-bottom: 0.7rem;
}

.form-control .form-error {
  font-size: 1.4rem;
  color: #eb5757;
  position: absolute;
  bottom: 0;
  left: 3px;
}

.form-control .form-login-input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  padding: 0.9rem;
  outline: 2px solid transparent;
}

.form-control .form-login-input::placeholder {
  font-size: 1.4rem;
}

.form-control .form-login-input:focus {
  outline-color: #3db46d;
  border-color: transparent;
}

.submit-cont {
  text-align: center;
}

.submit-cont .form-submit-btn {
  cursor: pointer;
  display: block;
  color: #fff;
  padding: 0.7rem 0;
  background-color: #3db46d;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: 2px;
  transition: background-color 150ms ease;
}

.submit-cont .form-submit-btn:disabled {
  background-color: #bdbdbd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans", sans-serif;
  color: #4f4f4f;
}

.container {
  width: 92%;
  max-width: 148rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

p {
  line-height: 1.5;
}

.nav {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .nav {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .nav-center {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 1rem;
    background-color: #fff;
    top: calc(9.4rem + 3rem);
    transform: translateX(-100%);
    z-index: 4;
    transition: transform 200ms;
  }
}

.nav-center .nav-links {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
}

@media screen and (max-width: 500px) {
  .nav-center .nav-links {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 500px) {
  .nav-center .nav-links .nav-link--right {
    margin-left: auto;
  }
}

.nav-center .nav-links li .nav-link {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  padding-bottom: 0.6rem;
  font-weight: 700;
}

.nav-center .nav-links li .nav-link--signout {
  align-self: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

.nav-center .nav-links li .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #3db46d;
  transform: scale(0);
  transition: transform 150ms ease;
}

.nav-center .nav-links li .nav-link:hover::before {
  transform: scale(1);
  transform-origin: center;
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 500px) {
  .nav-header {
    flex-direction: column;
    align-items: stretch;
    height: 9.4rem;
  }
  .nav-header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header img {
    align-self: flex-start;
    margin-bottom: 1rem;
  }
}

.nav-toggle {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.nav-toggle:hover {
  fill: #000;
}

@media screen and (min-width: 500px) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .nav .nav-center.show {
    transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */